$font-weights: (
    "thin": 100,
    "xtra-light": 200,
    "light": 300,
    "regular": 400,
    "bold": 700
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


$main-white: rgb(255, 255, 255);
$main-black: rgb(70, 70, 70);
$main-accent: rgb(240, 219, 79);

$light-blue: rgb(83, 160, 203);
$shadow-light: rgb(192, 192, 192);

$medium-blue: rgb(37, 83, 108);
$dark-blue: rgb(21, 27, 37);
$shadow-dark: rgb(21, 21, 21);
