@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,700&display=swap');

@import 'helpers';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: $main-white;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3.5rem;
    font-weight: weight(thin);
    color: $main-white;
}

h2 {
    font-size: 2.25rem;
    font-weight: weight(thin);
    color: $main-black;
    transition: all 500ms ease-in-out;
}

h3 {
    font-size: 1.5rem;
    font-weight: weight(thin);
    color: $main-black;
    transition: all 500ms ease-in-out;
}

h4 {
    font-size: 1.4rem;
    font-weight: weight(xtra-light);
    color: $main-black;
}

p {
    font-weight: weight(xtra-light);
    color: $main-white;
}

li {
    list-style: none;
    color: $main-white;
    font-weight: weight(thin);
}


@import 'landing';
@import 'menus';
@import 'about';
@import 'portfolio';